<!DOCTYPE html>
<html>
<head>
	<title><%= _.slugify(appName) %></title>
	<!-- bower:css -->
	<!-- endbower -->

	<script src="bower_components/angular/angular.js"></script>
</head>
<body>


<div class="container">

	<h1>Bootstrap template</h1>
	<p>Use this document as a way to quick start any new project.</p>

</div> <!-- /container -->

<!-- Le javascript
=================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- bower:js -->
<!-- endbower -->

</body>
</html>